// Directory Paths -- Needs to be updated
ProjectDir = "/path/to/project/directory" // REQUIRED

params {
	// Default workflow options
	init = false
	help = false
	GupModCall = 1
	GupIndexBam = 1
	GupModProc = 1
		
	// Shared Resources
	refGen = "$ProjectDir/00_Resources/VectorBase-54_AgambiaePEST_Genome.fasta" // REQUIRED - DOWNLOAD
	Gup_container = "$ProjectDir/00_Resources/ONT_Guppy_GPU.sif"                // REQUIRED - Contact author for details
		
	// Guppy mod' base call paramaters - Leave as defaults unless you get errors or are not working on Imperial HPC
	P1_inDir = "$ProjectDir/01_Raw_Input"
	P1_outDir = "$ProjectDir/02_Guppy_Output/01_ModBases"
	P1_threads = 4
	P1_GPU_runners = 1
	P1_GPU = "RTX6000"
	P1_callers = 2
	P1_memory = "24gb"
	P1_walltime = 2
	// If flowcell or kit combination changes on nanopore, this will need to be updated. 
	P1_gupConf = "dna_r9.4.1_450bps_modbases_5mc_hac.cfg"
	

	// Indexing Bams
	P2_inDir = "$ProjectDir/02_Guppy_Output/01_ModBases"
	P2_outDir = "$ProjectDir/02_Guppy_Output/02_Methylation"
	P2_threads = 30


	// modbam2bed Guppy processing
	P3_memory = "62gb"
	P3_walltime = 24
	P3_threads = 32
	P3_modType = "5mC"
}
